.popup__btn-delete {
  width: 358px;
  box-sizing: border-box;
  background: #000;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding: 14px 0 18px;
  border: 0;
}

.popup__btn-delete:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 715px) {
  .popup__btn-delete {
    max-width: 238px;
    font-size: 14px;
    padding-bottom: 14px;
  }
}
